<!DOCTYPE html>
 <html>
  <head>
   <title>New Listing</title>
  </head>
<body>
<div>
<form action='/listing' form method='post'>
  <input type='text' name='name' placeholder='name_of_space'>
  <br></br>
  <input type='text' name='description' placeholder='description_of_space'>
  <br></br>
  <input type='text' name='price' placeholder='price_of_space'>
  <br></br>
  <input type='submit' value='List a space'>
</form>
</div>
</body>
</html>